@keyframes apparition {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
      visibility: hidden;
    }
  }

  @keyframes spin{
	to{
		transform:rotateZ(360deg);
	}
}

@keyframes spinner{
	to{
		transform:rotateZ(-360deg);
	}
}


@keyframes slideMenu {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    animation-timing-function: steps(5, end);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
