$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$couleur_shadow:#dadada;
$couleur_nouveau:#139273;
$couleur_background_footer : #404040;
$couleur_background : #F6F6F6;
$couleur_hover_fonctionnement:#F5EDFF;