$couleur_primaire : #9356DC;
$couleur_secondaire : #FF79DA;
$couleur_tertiaire : #99E2D0;
$couleur_shadow:#dadada;
$couleur_nouveau:#139273;
$couleur_background_footer : #404040;
$couleur_background : #f3f3f3;
$couleur_hover_fonctionnement:#F5EDFF;
$couleur_font_gray:#A0A0A0;
$couleur_white : #ffffff;
$couleur_hover_btn : #b9b9b9;