.footer{
    background-color: $couleur_background_footer;
    list-style-type: none;
    color: #ffff;
    padding: 20px;
    margin: 0;

    ul{
        list-style-type: none;
        padding: 0;
    }
    .footer_title{
        padding-bottom: 20px;
        font-family: Shrikhand;
        font-size: 1.2rem;
        padding-bottom: 1px;
      }
    .footer_information  {
        padding-bottom: 8px;
        a{
            text-decoration: none;
            color: #ffff;
        }
    }
}
@media (min-width: 1024px){
.footer{
    text-align: center;
}
}