.outline-heart{
    &:hover{
        color: $couleur_primaire;
    }
    &:hover ~ .heart-animation{
        animation: heart-frame-animation 1s ease-in-out forwards;
        animation-duration: 2s;
    }
} 
.heart-animation{
    right: 34px;
    top: 33px;
    width: 24px;
    height: 24px;
    position: absolute;
    background:$couleur_background;
    border: transparent;
    z-index: 9;
}
.fill{
    color: $couleur_primaire;
    font-size: 1.5rem;
    position: absolute;
    right: 34px;
    top: 33px;
    z-index: 8;
}

@keyframes heart-frame-animation {
    from {height: 24px;}
    to {height: 0px;}
  }

