.btn_back_to_index{
    position: absolute;
    left: 19px;
    top: 15px;
    
    .fa-arrow-left{
        font-size: 20px;
        color: black;
    }
}
.photo_restaurant{
    position: relative;

   img{
       height: 300px;
       width: 100%;
       object-fit: cover;
   }
}
.restaurant_name{
    display: flex;
    justify-content: space-between;
    h1{
        font-family: "Shrikhand";
        font-size: 29px;
        margin: 0px;
    }
    .fa-heart{
        font-size: 1.5rem;
        position: absolute;
        right: 34px;
        top: 33px;
        z-index: 10;
    }
}

.menu{
    background-color: $couleur_background;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    margin-top: -70px;
    padding: 30px 10px 30px 10px;

    .contenu_menu{
        margin-top: 50px;
    }
}
.menu_type{
    position :relative;
    h2{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
    padding-bottom: 10px;
    margin: 0;
    margin-top: -18px;
    &::after{
        content: "";
        width: 2.8rem;
        height: .20rem;
        background-color: $couleur_tertiaire;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
}
}
.menu_content{
    background-color: $couleur_white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 3px 5px 5px $couleur_shadow;
    margin: 10px 0 20px 0;
    overflow: hidden;
    position: relative;

    &:hover .menu_check{
        transform: translateX(0px);
    }
    &:hover .menu_check_icone{
        transform: rotate(0deg);
    }
    &:hover h3  {
        width: calc(100% - 60px);
    }
    &:hover p {
        width: calc(100% - 70px);
    }
    &:hover .menu_price{
        width: calc(100% - 76%);
    }


     h3{
            margin: 0px;
            font-size: larger;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis ;
           width: 100%;
    }
     p{
            margin: 5px 0px -2px;
            font-weight: 300;
            font-size: medium;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        .menu_price{
            position: absolute;
            right: 4%;
            top: 53%;
            width: 9%;
        }
        

    animation: slideMenu 1s ease-in-out forwards;
}

.menu_check{
    
    background-color: $couleur_tertiaire;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transition-duration: 600ms;
    transform: translateX(60px);
    .menu_check_icone{
        color: $couleur_white;
        font-size: x-large;
        transition-duration: 600ms;
        transform: rotate(-360deg);

    }
}
.btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 53px;
    width: 192px;
    margin: 50px auto 50px auto;
    cursor: pointer;
    background-image: linear-gradient(to bottom, $couleur_secondaire, $couleur_primaire) ;
    color: $couleur_white;
    border: none;
    box-shadow: 3px 5px 5px $couleur_shadow;
    font-size: large;
    opacity: 1;
    transition: all 400ms;
    
    &:hover {
        transform: scale(1.15);
        opacity: 0.8;
    }
}
@media (min-width: 1024px){
    .small-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .menu_content{
    max-width: 360px;
    min-width: 359px;
}
}
@media (min-width: 666px) and (max-width: 1023px){
    .menu_content{
        &.menu_price{
            .menu_price{
                position: absolute;
                right: 0%;
            }
        }
    &:hover .menu_price{
        width: calc(100% - 88%);
    }
}
    h3{
        overflow: hidden;
        text-overflow: clip;
        width: 100%;
}
 p{
        overflow: hidden;
        text-overflow: clip;
        width: 100%;
    }
}
